---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import NewsCard from "../../../components/NewsCard.astro";

const allNews = await Astro.glob("../../en/news/*.md");
const pageTitle = "News";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="h-full px-[5.625rem] pb-16">
    <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
      News
    </h2>
    <section aria-label="New Blog News" class="h-full">
      <ul class="md:grid md:grid-cols-4 md:gap-4">
        {
          allNews.map((news) => (
            <NewsCard
              frontmatter={news.frontmatter}
              url={news.url}
              tagType="h2"
            />
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
