---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "404";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <section class="md:text-center px-0 md:px-20">
      <h1>Welcome to the Lost Path!</h1>
      <p>
        It looks like you've wandered off the beaten track. <br />
        Oh dear! Head back to the safe route and give it another shot. <br />
        If this seems like an error, let our team know. Thank you!
        <a href="/" class="underline uppercase">Return to the homepage</a>
      </p>
    </section>
  </main>
</BaseLayout>
