---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/Base.astro";

const pageTitle = "For Businesses";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-5 pb-16 md:px-[5.625rem]">
    <section>
      <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="md:p-18 bg-u+pinky p-8">
          <h2 class="pb-7 pt-6 text-[2rem] font-bold">
            Are you recruiting in the field of ICT/ software development /
            media?
          </h2>
          <p class="text-xl font-light">
            The Uraohjain+ development project has developed a new operating
            model to promote employment and is seeking businesses to cooperate
            with. The partners we seek are ready to contribute to the
            development of labour available to make it best suit their own
            needs. <br /><br />The Uraohjain service involves using
            businesses’ labour needs as the basis for developing job seekers’
            know-how and other competences, both at the general level and
            business-specifically. The business’s cooperation with the service
            will consist of meetings and presentation events to chart know-how
            and labour needs, and taking job seekers participating in the
            service into account in recruitment. <br /><br /> In the Uraohjain
            service, job seekers will develop their know-how in the field of ICT
            / software development / media and their career management skills and
            strengthen their operational capabilities. The basics of the operating
            model were established in previous projects that achieved good results.
            The service is intended for unemployed job seekers who have an upper
            secondary or higher education degree and are looking for employment in
            the fields of ICT, software development or media. <br /><br />The
            Uraohjain+ project is carried out by the City of Helsinki
            (Helsinki Vocational College and Adult Institute), Laurea University
            of Applied Sciences and Metropolia University of Applied Sciences.
            The project is partially funded by the EU. <br /><br />
          </p>
          <h4 class="text-xl font-black">
            Interested? <br />
            Contact: <a
              href="mailto:jaakko.hyytia@hel.fi"
              class="hover:underline"
            >
              jaakko.hyytia@hel.fi
            </a>
          </h4>
        </div>
        <figure class="hidden md:block">
          <Image
            src="/img/companies/walking-man-original.jpg"
            alt="Walking man"
            class="h-full w-full bg-cover"
            loading="eager"
            width={1000}
            height={1000}
          />
        </figure>
      </div>
    </section>
  </main>
</BaseLayout>
