---
import BaseLayout from "../../layouts/Base.astro";

const pageTitle = "Contact Us";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="h-full px-5 pb-16 md:px-[5.625rem]">
    <div class="flex flex-col items-center justify-center">
      <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h1>
      <ul class="flex flex-col gap-10 md:flex-row">
        <li class="flex flex-col bg-u+sunny px-14 py-11 text-xl font-light">
          <h2 class="text-2xl font-bold">Contacts related to the project</h2>
          <p class="p-0 font-extrabold">Jaakko Hyytiä</p>
          <p class="p-0">Project Manager</p>
          <a href="tel:012 3456 789">09 310 25104</a>
          <a href="mailto:jaakko.hyytia@hel.fi">jaakko.hyytia@hel.fi</a>
        </li>
        <li class="flex flex-col bg-u+sunny px-14 py-11 text-xl font-light">
          <h2 class="text-2xl font-bold">Contacts related to the service</h2>
          <p class="p-0 font-extrabold">Leea Hiltunen</p>
          <p class="p-0">Project Coordinator</p>
          <a href="tel:012 3456 789">040 664 3020</a>
          <a href="mailto:leea.hiltunen@hel.fi">leea.hiltunen@hel.fi</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
