---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewsCard from "../../components/NewsCard.astro";

const allNews = await Astro.glob("../../pages/en/news/*.md");
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <section class="px-0 md:px-20 md:text-center">
      <h1 class="pb-16 pt-10 text-center text-[2.5rem] font-light text-u+burg">
        <span class="tracking-widest">CAREERDRIVER+</span>
        <br />For jobseekers in ICT, software development and media
      </h1>
      <p class="mb-4 leading-9 md:mb-14 md:text-2xl">
        Come supplement your skills to make them meet the rapidly changing needs
        of working life, plan your career and learn more about verbalising and
        marketing your own know-how. You will get to discuss your everyday
        wellbeing to support your employment. The competence paths are built
        from the ICT, software development and media study offerings of Laurea
        and Metropolia.
      </p>
    </section>
    <!-- Benefits section -->
    <section class="block justify-around md:flex">
      <div class="bg-u+pinky p-4 md:basis-2/3 md:px-16 md:py-8">
        <h3 class="py-4 text-[2rem] font-bold">
          The CareerDriver service will provide you with:
        </h3>
        <ul class="flex flex-col gap-4 text-xl font-semibold">
          <li class="flex items-center gap-4">
            <figure class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/pathway.svg"
                alt="Pathway logo"
                width={56}
                height={56}
              />
            </figure>
            <p>Individually tailored competence paths</p>
          </li>

          <li class="flex items-center gap-4">
            <div class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/conversation.svg"
                alt="Conversation logo"
                width={56}
                height={56}
              />
            </div>
            <p>Individual guidance discussions</p>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/tool.svg"
                alt="Tool logo"
                width={56}
                height={56}
              />
            </div>
            <p>Tools for planning your career</p>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/guidance.svg"
                alt="Guidance logo"
                width={56}
                height={56}
              />
            </div>
            <p>Guidance counselling</p>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/wellbeing.svg"
                alt="Wellbeing logo"
                width={56}
                height={56}
              />
            </div>
            <p>Wellbeing discussions</p>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-14 w-14 rounded-full bg-white">
              <Image
                src="/img/frontpage/networking.svg"
                alt="Networking logo"
                width={56}
                height={56}
              />
            </div>
            <p>Cooperation and networking</p>
          </li>
        </ul>
      </div>
      <figure class="ml-6 hidden md:block md:basis-1/3">
        <Image
          src="/img/frontpage/benefits-man.png"
          alt="Services that we provide"
          width={1000}
          height={1000}
        />
      </figure>
    </section>
    <!-- Video section -->
    <section class="mt-6 bg-gray-200 px-4 py-6 text-center md:px-36">
      <h2 class="pb-8 pt-10 text-[2rem] font-bold">
        Enhance Your Career Goals and Boost Your Expertise
      </h2>
      <p>
        Are you eager to align your skills with the ever-changing demands of the
        IT industry? Seeking a personalized path to excel in the dynamic world
        of media? Contemplating your next career move and how to effectively
        showcase your capabilities? CareerDriver service empowers you to elevate
        your skill set and provides tailored solutions to your career inquiries.
        Unleash your potential with us!
      </p>
      <video
        class="mx-auto w-full py-4 md:w-3/4 md:py-8"
        autoplay
        loop
        controls
        muted
      >
        <source src="/videos/uraohjain-presentation-en.mp4" type="video/mp4" />
      </video>
    </section>
    <!-- Profile section -->
    <section class="mb-4 mt-6 justify-around md:mb-16 md:flex">
      <div class="bg-u+green px-6 py-6 md:basis-3/5 md:px-12 md:py-12">
        <h3 class="py-4 text-3xl font-bold text-white">
          For whom is the CareerDriver service intended?
        </h3>
        <ul class="ml-6 list-disc text-xl font-light text-white">
          <li>
            You have obtained at least an upper secondary or higher education
            degree.
          </li>
          <li>
            Your goal is to find employment in the field of ICT, software
            development or media.
          </li>
          <li>Your Finnish or English skills are at least at the B2 level.</li>
          <li>
            You are registered as an unemployed job seeker at Helsinki
            Employment Services.
          </li>
        </ul>
      </div>
      <!-- Take test section -->
      <div
        class="mt-4 flex items-center justify-center bg-u+sunny md:ml-5 md:mt-0 md:basis-2/5"
      >
        <h2 class="text-[2rem] font-semibold text-u+green underline">
          <a href="/signup">
            Take our test to see <br />
            whether the service is <br />
            right for you and sign up!
          </a>
        </h2>
      </div>
    </section>
    <!-- Service path -->
    <section class="flex flex-col items-center justify-center">
      <h2 class="pb-4 pt-10 text-center text-[2rem] font-bold text-u+burg">
        Service path
      </h2>
      <p class="pb-16 text-center text-xl font-light text-u+burg">
        Duration 3-6 months
      </p>
      <Image
        src="/img/frontpage/service-path.png"
        alt="service-path"
        width={2000}
        height={2000}
      />
    </section>
    <!-- News section -->
    <section class="pb-16">
      <div class="my-7 flex justify-center md:mb-16 md:mt-20">
        <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
          News
        </h2>
      </div>

      <ul class="flex flex-col gap-4 md:w-2/4 md:flex-row">
        {
          allNews.map((news) => (
            <NewsCard
              showImage={"block"}
              frontmatter={news.frontmatter}
              url={news.url}
              tagType="h3"
            />
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
