---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TestForm from "../../components/TestForm.jsx";

const pageTitle = "Signup";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <section>
      <h2 class="text-center mt-10 mb-16">
        {pageTitle}
      </h2>
      <TestForm client:load />
    </section>
  </main>
</BaseLayout>
