---
import BaseLayout from "../../layouts/Base.astro";

const pageTitle = "Term of Service";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-5 md:px-[5.625rem]">
    <section>
      <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h2>
      <TermsOfService client:load />
    </section>
  </main>
</BaseLayout>
