---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Page Not Found 404";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <section class="md:text-center px-0 md:px-20">
      <h1>404 No Found</h1>
      <p>Näyttäisi siltä, että olet eksynyt. Harmi homma!</p>
      <p>Palaa takaisin turvalliselle reitillesi ja kokeile uudestaan.</p>
      <p>Jos tämä vaikuttaa virheeltä, ilmoita siitä ylläpidollemme. Kiitos!</p>
      <a href="/" class="underline uppercase">takaisin</a>
    </section>
  </main>
</BaseLayout>
