---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Yrityksille";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem] pb-16">
    <section>
      <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="md:p-18 bg-u+pinky p-8">
          <h2 class="pb-7 pt-6 text-[2rem] font-bold">
            Rekrytoitko ICT-, ohjelmisto- tai media-alalle työntekijöitä?
          </h2>
          <p class="text-xl font-light">
            Uuden työllistymistä edistävän toimintamallin kehittänyt Uraohjain+
            -kehityshanke etsii yhteistyökumppaneita. Etsimämme
            yhteistyökumppanit ovat valmiita vaikuttamaan työvoimatarjonnan
            kehittämiseen omia tarpeitaan parhaiten vastaavaksi. <br /><br /> Uraohjain-palvelussa
            kehitetään yritysten työvoimatarpeisiin perustuen työnhakijoiden osaamista
            ja muita valmiuksia sekä yleisellä tasolla että yrityskohtaisesti. Yrityksen
            yhteistyö palvelun kanssa koostuu osaamis- ja työvoimatarpeita kartoittavista
            tapaamisista ja esitystilaisuuksista sekä palveluun osallistuvien työnhakijoiden
            huomioimisesta rekrytoinneissa. <br /><br /> Uraohjain-palvelussa työnhakijat
            kehittävät ICT-, ohjelmisto- tai media-alan osaamistaan, uranhallintataitojaan
            sekä vahvistavat toimintavalmiuksiaan. Toimintamallin perusteet on luotu
            aiemmissa hankkeissa, joissa on saavutettu hyviä tuloksia. <br />
            <br /> Palvelu on tarkoitettu työttömille toisen tai korkea-asteen tutkinnon
            suorittaneille, jotka hakevat töitä ICT-, ohjelmistokehitys- tai media-alalta.
            Uraohjain+-hanketta toteuttavat Helsingin kaupunki (Stadin AO), Laurea-ammattikorkeakoulu
            ja Metropolia Ammattikorkeakoulu. Hanke on Euroopan unionin osarahoittama.
            <br /><br />
          </p>
          <h4 class="text-xl font-black">
            Kiinnostuitko? <br /> Ota yhteyttä: <a
              href="mailto:jaakko.hyytia@hel.fi"
              class="hover:underline">jaakko.hyytia@hel.fi</a
            >
          </h4>
        </div>
        <figure class="hidden md:block">
          <Image
            src="/img/companies/walking-man-original.jpg"
            alt="Walking man"
            class="h-full w-full bg-cover"
            width={1000}
            height={1000}
          />
        </figure>
      </div>
    </section>
  </main>
</BaseLayout>
