---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/Base.astro";
import { Separator } from "../../components/ui/seperator";

const pageTitle = "Etusivu";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-5 pb-16 md:px-[5.625rem]">
    <section class="px-0 md:px-20">
      <div class="pb-16 pt-10 text-center">
        <h1
          class="pb-4 text-center text-sm font-medium leading-tight tracking-[1rem] text-u+burg md:text-[2.5rem]"
        >
          URAOHJAIN
        </h1>
        <span
          class="text-center text-sm font-light leading-tight text-u+burg md:text-[2.5rem]"
          >ICT-, ohjelmistokehitys- ja media-alan työnhakijoille</span
        >
      </div>
      <p class="mb-4 text-balance text-center leading-9 md:mb-14 md:text-2xl">
        Tule täydentämään osaamistasi työelämän nopeita muutostarpeita
        vastaavaksi, suunnittelemaan uraasi ja oivaltamaan lisää oman osaamisesi
        markkinoinnista. Pääset keskustelemaan oman arkesi hyvinvoinnista
        työllistymisen tueksi. Osaamiskokonaisuudet rakentuvat Laurean ja
        Metropolian ICT-, ohjelmistokehitys- ja media-alojen opintotarjonnasta.
      </p>
    </section>
    <section>
      <div
        class="border-4 border-u+green px-6 py-12 md:basis-3/5 md:px-12 md:py-12 text-balance text-center"
      >
        <h3 class="text-3xl font-bold text-u+burg">
          Uraohjain-palvelu on kesätauolla 12.6.-22.7.2024. Ilmoittautuminen päättyy 8.6. ja avautuu uudelleen 8.7.
          <br>
          Hyvää kesää!
        </h3>
      </div>
    </section>
    <!-- Benefits section -->
    <section class="flex flex-col items-center p-4 md:px-16 md:py-8">
      <h3 class="pb-8 text-[2rem] font-bold">Uraohjain-palvelussa saat:</h3>
      <ul
        class="flex h-full flex-col items-start gap-4 text-xl md:flex-row md:space-x-5"
      >
        <li class="flex flex-1 flex-col items-center gap-4 text-center">
          <figure class="rounded-full bg-u+pinky p-4">
            <svg
              width="145"
              height="145"
              viewBox="0 0 145 145"
              fill="none"
              class="h-16 w-16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1265_205)">
                <mask
                  id="mask0_1265_205"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="145"
                  height="145"
                >
                  <path d="M145 0H0V145H145V0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask0_1265_205)">
                  <path
                    d="M72.5 145C112.538 145 145 112.538 145 72.5C145 32.4619 112.538 0 72.5 0C32.4619 0 0 32.4619 0 72.5C0 112.538 32.4619 145 72.5 145Z"
                    fill="#F5BFC8"></path>
                  <path
                    d="M33.2346 107.409H113.289V44.6955H33.2346V107.409ZM114.588 110.016H31.9254C31.2064 110.016 30.627 109.437 30.627 108.718V43.397C30.627 42.678 31.2064 42.0878 31.9254 42.0878H114.588C115.307 42.0878 115.886 42.6673 115.886 43.397V108.718C115.886 109.437 115.307 110.016 114.588 110.016Z"
                    fill="#701B3E"></path>
                  <path
                    d="M89.3903 42.8926C88.6713 42.8926 88.0918 42.3131 88.0918 41.5942V28.5021H58.2698V41.5942C58.2698 42.3131 57.6903 42.8926 56.9713 42.8926C56.2523 42.8926 55.6621 42.3131 55.6621 41.5942V27.1929C55.6621 26.4739 56.2416 25.8944 56.9713 25.8944H89.401C90.12 25.8944 90.6995 26.4739 90.6995 27.1929V41.5942C90.6995 42.3131 90.12 42.8926 89.401 42.8926"
                    fill="#701B3E"></path>
                  <path
                    d="M73.3255 82.2654C73.229 82.2654 73.1217 82.2546 73.0251 82.2332L31.6241 72.4034C30.9266 72.2317 30.4866 71.5342 30.6583 70.8367C30.8193 70.1391 31.5275 69.6991 32.225 69.8708L73.2719 79.6148L114.19 66.4261C114.877 66.2115 115.606 66.5871 115.832 67.2632C116.046 67.95 115.671 68.6797 114.984 68.905L73.7226 82.201C73.5938 82.2439 73.4543 82.2654 73.3255 82.2654Z"
                    fill="#701B3E"></path>
                </g>
                <path
                  d="M80.9892 71.8669H66.6094V94.9926H80.9892V71.8669Z"
                  fill="#F5BFC8"></path>
                <mask
                  id="mask1_1265_205"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="145"
                  height="145"
                >
                  <path d="M145 0H0V145H145V0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask1_1265_205)">
                  <path
                    d="M67.9182 93.6834H79.6904V73.1653H67.9182V93.6834ZM80.9888 96.2911H66.609C65.89 96.2911 65.3105 95.7116 65.3105 94.9926V71.8668C65.3105 71.1478 65.89 70.5684 66.609 70.5684H80.9888C81.7078 70.5684 82.2873 71.1478 82.2873 71.8668V94.9926C82.2873 95.7116 81.7078 96.2911 80.9888 96.2911Z"
                    fill="#701B3E"></path>
                </g>
                <path
                  d="M74.4206 82.5981H73.1758V89.4875H74.4206V82.5981Z"
                  fill="white"></path>
                <mask
                  id="mask2_1265_205"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="145"
                  height="145"
                >
                  <path d="M145 0H0V145H145V0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask2_1265_205)">
                  <path
                    d="M74.4212 90.786H73.1764C72.4574 90.786 71.8672 90.2065 71.8672 89.4875V82.5981C71.8672 81.8791 72.4467 81.2889 73.1764 81.2889H74.4212C75.1402 81.2889 75.7197 81.8684 75.7197 82.5981V89.4875C75.7197 90.2065 75.1402 90.786 74.4212 90.786Z"
                    fill="#701B3E"></path>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1265_205">
                  <rect width="145" height="145" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </figure>
          <h3 class="font-bold">Urasuunnittelu</h3>
          <p class="text-balance font-light">
            Tunnista ja sanoita osaamistasi, suunnittele uraasi ja markkinoi
            osaamistasi.
          </p>
        </li>
        <Separator
          orientation="vertical"
          className="my-auto hidden h-56 max-h-56 bg-u+burg md:block"
        />
        <li class="flex flex-1 flex-col items-center gap-4 text-center">
          <figure class="rounded-full bg-u+pinky p-4">
            <svg
              width="145"
              height="145"
              viewBox="0 0 145 145"
              fill="none"
              class="h-16 w-16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1265_226)">
                <mask
                  id="mask0_1265_226"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="145"
                  height="145"
                >
                  <path d="M145 0H0V145H145V0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask0_1265_226)">
                  <path
                    d="M72.4934 145C112.538 145 144.987 112.538 144.987 72.5067C144.987 32.475 112.538 0 72.4934 0C32.4484 0 0 32.4617 0 72.4934C0 112.525 32.4617 144.987 72.4934 144.987"
                    fill="#F5BFC8"></path>
                  <path
                    d="M114.135 45.2601C113.869 44.8876 107.549 36.1735 93.8194 36.1735C83.1895 36.1735 77.0165 41.3754 74.6351 43.9031C72.2537 41.3754 66.0939 36.1735 55.4508 36.1735C41.7078 36.1735 35.3884 44.8876 35.1356 45.2601C34.9759 45.4996 34.8828 45.779 34.8828 46.0717V106.006C34.8828 106.538 35.1888 107.03 35.6677 107.257C36.1467 107.496 36.7188 107.43 37.1445 107.097C37.2243 107.03 45.2333 100.844 55.4641 100.844C65.6948 100.844 73.7038 107.03 73.7836 107.097C73.8102 107.124 73.8502 107.124 73.8768 107.15C73.93 107.19 73.9699 107.23 74.0364 107.257C74.063 107.27 74.1029 107.27 74.1295 107.283C74.1828 107.297 74.236 107.323 74.2892 107.336C74.3823 107.363 74.4621 107.376 74.5553 107.376C74.5819 107.376 74.6218 107.39 74.6484 107.39C74.6617 107.39 74.675 107.39 74.7016 107.39C74.8879 107.39 75.0608 107.35 75.2338 107.27C75.2338 107.27 75.2604 107.27 75.2737 107.27C75.3136 107.257 75.3535 107.217 75.3934 107.19C75.4333 107.164 75.4865 107.15 75.5265 107.11C75.6063 107.044 83.6153 100.857 93.846 100.857C104.077 100.857 112.086 107.044 112.166 107.11C112.418 107.31 112.724 107.403 113.03 107.403C113.23 107.403 113.443 107.363 113.642 107.257C114.121 107.017 114.427 106.538 114.427 106.006V46.0717C114.427 45.779 114.334 45.4996 114.174 45.2601"
                    fill="#701B3E"></path>
                  <path
                    d="M111.606 94.711V97.3451C96.6793 90.1078 86.4885 92.9282 80.4219 96.4405C82.4707 94.0458 85.2645 91.6777 88.963 90.5069C95.3888 88.4714 102.999 88.8306 111.606 94.711Z"
                    fill="#F5BFC8"></path>
                  <path
                    d="M111.607 100.472V103.359C108.321 101.336 101.762 98.0636 93.8067 98.0636C86.3165 98.0636 80.077 100.99 76.6445 103.013C79.5448 99.5669 90.2412 89.5357 111.607 100.485"
                    fill="#F5BFC8"></path>
                  <path
                    d="M72.3741 102.853C68.8885 100.831 62.7687 98.0636 55.4382 98.0636C47.4957 98.0636 40.9368 101.35 37.6641 103.372V100.432C39.367 99.4738 44.2096 96.9461 50.1432 95.895C59.1633 94.2986 66.6401 96.6401 72.3741 102.866"
                    fill="#F5BFC8"></path>
                  <path
                    d="M61.0391 90.5734C64.2986 91.6643 67.0925 93.7132 69.3807 96.6799C57.2741 88.7641 42.9857 94.5646 37.6641 97.2786V94.5912C40.4313 93.048 51.4869 87.4071 61.0391 90.5867"
                    fill="#F5BFC8"></path>
                  <path
                    d="M111.606 46.5373V91.3584C102.892 85.784 95.0027 85.6643 88.1113 87.8595C82.1777 89.7486 78.3195 94.099 76.0312 97.6512V46.5373C77.2685 45.0207 82.8961 38.9673 93.8054 38.9673C104.715 38.9673 110.355 45.0207 111.606 46.5373Z"
                    fill="#F5BFC8"></path>
                  <path
                    d="M73.2389 46.5373V97.3452C70.3652 92.6489 66.5736 89.4958 61.9172 87.926C52.3783 84.7596 42.0278 89.1632 37.6641 91.4249V46.5373C38.9013 45.0207 44.5289 38.9673 55.4382 38.9673C66.3474 38.9673 71.9883 45.0207 73.2389 46.5373Z"
                    fill="#F5BFC8"></path>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1265_226">
                  <rect width="145" height="145" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </figure>
          <h3 class="font-bold">Osaamisen kehittäminen</h3>
          <p class="text-balance font-light">
            Kehitä osaamistasi työelämän tarpeita vastaavaksi. Valitse
            uratavoitteesi mukainen räätälöity osaamiskokonaisuus 3kk
            Uraohjain-jaksolle.
          </p>
        </li>
        <Separator
          orientation="vertical"
          className="my-auto hidden h-56 max-h-56 bg-u+burg md:block"
        />
        <li class="flex flex-1 flex-col items-center gap-4 text-center">
          <figure class="rounded-full bg-u+pinky p-4">
            <svg
              width="142"
              height="142"
              viewBox="0 0 142 142"
              fill="none"
              class="h-16 w-16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1265_255)">
                <mask
                  id="mask0_1265_255"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="142"
                  height="142"
                >
                  <path d="M141.4 0H0V141.4H141.4V0Z" fill="white"></path>
                </mask>
                <g mask="url(#mask0_1265_255)">
                  <path
                    d="M70.7 141.4C109.74 141.4 141.4 109.75 141.4 70.7C141.4 31.65 109.74 0 70.7 0C31.66 0 0 31.65 0 70.7C0 109.75 31.65 141.4 70.7 141.4Z"
                    fill="#F5BFC8"></path>
                  <path
                    d="M69.5394 108.32L68.8194 107.6C68.8194 107.6 42.7494 81.77 39.3094 78.31C34.0094 72.58 31.8594 67.87 31.8594 62C31.8594 50.08 41.5494 40.38 53.4594 40.38C59.6494 40.38 65.4494 42.99 69.5494 47.59C73.6594 42.99 79.4494 40.38 85.6394 40.38C97.5494 40.38 107.239 50.08 107.239 62C107.239 66.47 105.839 70.82 103.269 74.46L101.659 76.45C101.129 77.05 100.509 77.66 99.8494 78.24L69.5494 108.3L69.5394 108.32ZM53.4494 42.45C42.6694 42.45 33.8994 51.22 33.8994 62.01C33.8994 66.48 35.0694 70.72 40.7794 76.89C43.8594 79.98 65.3094 101.23 69.5394 105.42L98.4494 76.75C99.0894 76.19 99.6494 75.63 100.169 75.04L100.379 74.82C103.479 71.25 105.179 66.7 105.179 62.01C105.179 51.22 96.4094 42.45 85.6394 42.45C79.6694 42.45 74.0894 45.14 70.3494 49.84L69.5494 50.85L68.7494 49.84C65.0094 45.14 59.4394 42.45 53.4694 42.45H53.4494Z"
                    fill="#701B3E"></path>
                  <path
                    d="M69.5385 108.5L68.7285 107.7C68.4685 107.44 42.6185 81.83 39.2185 78.41C33.8985 72.66 31.7285 67.91 31.7285 62.02C31.7285 50.03 41.4785 40.28 53.4585 40.28C59.5785 40.28 65.4385 42.88 69.5485 47.43C73.6585 42.89 79.5185 40.28 85.6385 40.28C97.6185 40.28 107.359 50.03 107.359 62.02C107.359 66.52 105.979 70.86 103.369 74.55L101.759 76.55C101.209 77.17 100.579 77.79 99.9285 78.36L69.5385 108.5ZM53.4485 40.52C41.6085 40.52 31.9685 50.16 31.9685 62.01C31.9685 67.84 34.1185 72.53 39.3885 78.23C42.7885 81.65 68.6385 107.26 68.8985 107.51L69.5385 108.14L99.7585 78.17C100.409 77.6 101.029 76.99 101.559 76.38L103.159 74.39C105.739 70.74 107.099 66.46 107.099 62.01C107.099 50.16 97.4685 40.52 85.6285 40.52C79.5285 40.52 73.6985 43.13 69.6285 47.69L69.5385 47.79L69.4485 47.69C65.3785 43.13 59.5485 40.52 53.4585 40.52H53.4485ZM69.5385 105.6L69.4485 105.51C69.1985 105.26 44.0685 80.36 40.6885 76.98C34.9485 70.77 33.7685 66.51 33.7685 62.01C33.7685 51.15 42.5985 42.32 53.4385 42.32C59.4485 42.32 65.0585 45.03 68.8185 49.76L69.5285 50.65L70.2385 49.76C73.9985 45.03 79.6085 42.32 85.6185 42.32C96.4685 42.32 105.289 51.15 105.289 62.01C105.289 66.74 103.569 71.32 100.459 74.9L100.249 75.13C99.7185 75.73 99.1485 76.29 98.5185 76.85L69.5285 105.6H69.5385ZM53.4485 42.57C42.7385 42.57 34.0285 51.29 34.0285 62.01C34.0285 66.45 35.1885 70.67 40.8785 76.81C44.1485 80.09 67.8985 103.62 69.5385 105.25L98.3585 76.67C98.9885 76.11 99.5485 75.56 100.079 74.96L100.289 74.74C103.359 71.2 105.059 66.68 105.059 62.01C105.059 51.29 96.3485 42.57 85.6385 42.57C79.6985 42.57 74.1685 45.25 70.4485 49.91L69.5485 51.04L68.6485 49.91C64.9385 45.24 59.3985 42.57 53.4585 42.57H53.4485Z"
                    fill="#701B3E"></path>
                  <path
                    d="M69.5385 108.5L68.7285 107.7C68.4685 107.44 42.6185 81.83 39.2185 78.41C33.8985 72.66 31.7285 67.91 31.7285 62.02C31.7285 50.03 41.4785 40.28 53.4585 40.28C59.5785 40.28 65.4385 42.88 69.5485 47.43C73.6585 42.89 79.5185 40.28 85.6385 40.28C97.6185 40.28 107.359 50.03 107.359 62.02C107.359 66.52 105.979 70.86 103.369 74.55L101.759 76.55C101.209 77.17 100.579 77.79 99.9285 78.36L69.5385 108.5ZM53.4485 40.52C41.6085 40.52 31.9685 50.16 31.9685 62.01C31.9685 67.84 34.1185 72.53 39.3885 78.23C42.7885 81.65 68.6385 107.26 68.8985 107.51L69.5385 108.14L99.7585 78.17C100.409 77.6 101.029 76.99 101.559 76.38L103.159 74.39C105.739 70.74 107.099 66.46 107.099 62.01C107.099 50.16 97.4685 40.52 85.6285 40.52C79.5285 40.52 73.6985 43.13 69.6285 47.69L69.5385 47.79L69.4485 47.69C65.3785 43.13 59.5485 40.52 53.4585 40.52H53.4485ZM69.5385 105.6L69.4485 105.51C69.1985 105.26 44.0685 80.36 40.6885 76.98C34.9485 70.77 33.7685 66.51 33.7685 62.01C33.7685 51.15 42.5985 42.32 53.4385 42.32C59.4485 42.32 65.0585 45.03 68.8185 49.76L69.5285 50.65L70.2385 49.76C73.9985 45.03 79.6085 42.32 85.6185 42.32C96.4685 42.32 105.289 51.15 105.289 62.01C105.289 66.74 103.569 71.32 100.459 74.9L100.249 75.13C99.7185 75.73 99.1485 76.29 98.5185 76.85L69.5285 105.6H69.5385ZM53.4485 42.57C42.7385 42.57 34.0285 51.29 34.0285 62.01C34.0285 66.45 35.1885 70.67 40.8785 76.81C44.1485 80.09 67.8985 103.62 69.5385 105.25L98.3585 76.67C98.9885 76.11 99.5485 75.56 100.079 74.96L100.289 74.74C103.359 71.2 105.059 66.68 105.059 62.01C105.059 51.29 96.3485 42.57 85.6385 42.57C79.6985 42.57 74.1685 45.25 70.4485 49.91L69.5485 51.04L68.6485 49.91C64.9385 45.24 59.3985 42.57 53.4585 42.57H53.4485Z"
                    fill="#701B3E"></path>
                  <path
                    d="M69.5394 108.68L68.0194 107.17C58.3894 97.63 41.8294 81.21 39.1294 78.5C33.7894 72.72 31.6094 67.95 31.6094 62.02C31.6094 49.96 41.4094 40.15 53.4594 40.15C59.5694 40.15 65.4194 42.73 69.5494 47.24C73.6794 42.73 79.5394 40.15 85.6394 40.15C97.6894 40.15 107.489 49.96 107.489 62.02C107.489 66.55 106.099 70.91 103.479 74.62L101.859 76.63C101.309 77.25 100.669 77.88 100.019 78.46L69.5494 108.68H69.5394ZM53.4494 40.65C41.6794 40.65 32.0994 50.23 32.0994 62.02C32.0994 67.81 34.2394 72.48 39.4794 78.15C42.8694 81.55 68.7594 107.21 68.9894 107.43L69.5394 107.97L99.6694 78.08C100.319 77.51 100.939 76.9 101.469 76.3L103.069 74.31C105.629 70.69 106.979 66.43 106.979 62.01C106.979 50.23 97.3994 40.64 85.6294 40.64C79.5694 40.64 73.7694 43.24 69.7194 47.77L69.5394 47.98L69.3494 47.77C65.3094 43.24 59.5094 40.64 53.4494 40.64V40.65ZM39.2994 78.33C40.2494 79.28 42.9194 81.94 46.3994 85.39C42.9694 81.99 40.2494 79.28 39.2994 78.33ZM67.6694 45.76C68.3294 46.33 68.9494 46.95 69.5394 47.61C69.5494 47.6 69.5594 47.58 69.5694 47.57L69.5394 47.61L69.4494 47.51C68.8894 46.89 68.2994 46.31 67.6794 45.76H67.6694ZM69.5294 105.78L68.7894 105.05C61.2394 97.57 43.3894 79.87 40.5894 77.07C34.8194 70.83 33.6394 66.54 33.6394 62.01C33.6394 51.09 42.5194 42.2 53.4394 42.2C59.4894 42.2 65.1294 44.93 68.9194 49.68L69.5294 50.45L70.1394 49.69C73.9294 44.93 79.5694 42.2 85.6194 42.2C96.5394 42.2 105.409 51.09 105.409 62.01C105.409 66.77 103.679 71.37 100.549 74.99L100.339 75.22C99.8094 75.82 99.2394 76.38 98.5994 76.95L69.5294 105.78ZM53.4394 42.7C42.7994 42.7 34.1394 51.36 34.1394 62.01C34.1394 66.42 35.2994 70.61 40.9494 76.72C43.6094 79.38 59.6694 95.31 69.0094 104.57L69.5194 105.07L98.2494 76.57C98.8794 76.01 99.4394 75.46 99.9594 74.87L100.169 74.64C103.219 71.13 104.899 66.63 104.899 62C104.899 51.35 96.2394 42.69 85.6094 42.69C79.7094 42.69 74.2094 45.35 70.5194 49.99L69.5194 51.24L68.5194 49.99C64.8294 45.35 59.3294 42.69 53.4294 42.69L53.4394 42.7ZM38.2194 73.88C38.9494 74.84 39.7894 75.84 40.7694 76.89C42.8594 78.99 53.4094 89.45 61.7494 97.72C52.9494 89 42.8294 78.96 40.7694 76.89C39.7894 75.83 38.9494 74.83 38.2194 73.88ZM101.569 73.28C101.189 73.81 100.789 74.32 100.359 74.82L100.149 75.05C99.6194 75.64 99.0594 76.21 98.4194 76.76C99.0594 76.2 99.6194 75.64 100.149 75.05L100.359 74.82C100.789 74.33 101.189 73.81 101.569 73.28ZM67.9994 48.98C68.2494 49.26 68.4894 49.55 68.7194 49.84C68.4894 49.55 68.2394 49.26 67.9994 48.98Z"
                    fill="#701B3E"></path>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1265_255">
                  <rect width="141.4" height="141.4" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </figure>
          <h3 class="font-bold">Hyvinvointikeskustelut</h3>
          <p class="text-balance font-light">
            Keskustele hyvinvoinnistasi arjen ja työllistymisen tukemiseksi.
          </p>
        </li>
      </ul>
    </section>
    <!-- Video section --->
    <section class="flex flex-col items-center pt-6">
      <h3 class="py-8 text-3xl font-bold">
        Kirkasta urasuunnitelmasi ja vahvista osaamistasi
      </h3>
      <video class="w-full border" autoplay loop controls muted>
        <source
          src="https://uraohjain.hel.fi/strapi/uploads/uraohjain_presentation_0408710638.mp4"
          type="video/mp4"
        />
      </video>
    </section>
    <!-- Profile section -->
    <section class="mb-4 mt-6 justify-around md:mb-16 md:flex">
      <div class="bg-u+green px-6 py-12 md:basis-3/5 md:px-12 md:py-12">
        <h3 class="pb-4 text-3xl font-bold text-white">
          Kennelle Uraohjain-palvelu on?
        </h3>
        <ul class="ml-6 list-disc text-xl font-light text-white">
          <li>Olet suorittanut toisen tai korkea-asteen tutkinnon</li>
          <li>
            Tavoitteesi on työllistyä ICT-, ohjelmistokehitys tai media-alalle
          </li>
          <li>Suomen tai englanninkielen tasosi on vähintään B2</li>
          <li>Olet Helsingin työllisyyspalveluiden asiakas</li>
        </ul>
      </div>
      <!-- Take test section -->
      <div
        class="mt-4 flex items-center justify-center bg-u+sunny py-12 md:ml-5 md:mt-0 md:basis-2/5"
      >
        <h2 class="text-[2rem] font-semibold text-u+green underline">
          <a href="/fi/signup">
            Testaa sopiiko <br />Uraohjain-palvelu <br />sinulle ja ilmoittaudu!
          </a>
        </h2>
      </div>
    </section>
    <!-- Service path -->
    <section class="flex flex-col items-center justify-center">
      <h2 class="pb-4 pt-10 text-center text-[2rem] font-bold text-u+burg">
        Palvelupolku
      </h2>
      <Image
        src="/img/frontpage/service-path.png"
        alt="service-path"
        width={2000}
        height={2000}
      />
    </section>
  </main>
</BaseLayout>
