---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { MultiStepForm } from "../../components/MultiStepForm";

const pageTitle = "Ilmoittautuminen";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem] pb-16">
    <section>
      <h2 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {pageTitle}
      </h2>
      <MultiStepForm client:load />
    </section>
  </main>
</BaseLayout>
