---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Opintotarjonta";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <div
      class="flex flex-col justify-center items-center gap-4"
      id="study-offers"
    >
      <h1 class="text-[2rem] font-bold">{pageTitle}</h1>
      <p class="p-3 md:p-0 text-center">
        Uraohjain-palvelussa voit täydentää osaamistasi ICT-, ohjelmistokehitys-
        tai media-alan opinnoilla. Pääset valitsemaan sinulle sopivan
        osaamiskokonaisuuden opinto-ohjaajan tukemana. Osaamiskokonaisuudet on
        suunniteltu vastaamaan työelämän osaamistarpeita. Kurssit suoritetaan
        pääosin itsenäisesti etätoteutuksena. Osaamiskokonaisuudet rakentuvat
        Laurean ja Metropolian ICT-, ohjelmistokehitys- ja media-alojen
        opintotarjonnasta.
      </p>
      <div class="flex justify-center gap-10 anchors">
        <a class="flex flex-col items-center" href="#ict">
          <div class="bg-u+sunny px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p>ICT and Software Development</p>
        </a>
        <a class="flex flex-col items-center" href="#media">
          <div class="bg-u+pinky px-6 py-8 rounded-full">
            <svg
              width="59"
              height="43"
              viewBox="0 0 59 43"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1615)">
                <path
                  d="M29.4833 35.4822C35.464 35.4822 40.3123 30.5875 40.3123 24.5496C40.3123 18.5117 35.464 13.6169 29.4833 13.6169C23.5026 13.6169 18.6543 18.5117 18.6543 24.5496C18.6543 30.5875 23.5026 35.4822 29.4833 35.4822Z"
                  stroke="#701C3E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M29.5003 31.3793C33.2365 31.3793 36.2653 28.3215 36.2653 24.5496C36.2653 20.7776 33.2365 17.7199 29.5003 17.7199C25.7641 17.7199 22.7354 20.7776 22.7354 24.5496C22.7354 28.3215 25.7641 31.3793 29.5003 31.3793Z"
                  stroke="#701C3E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.4442 4.6041H4.98926V8.49465H12.4442V4.6041Z"
                  stroke="#701C3E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M52.4872 13.8123H45.0322V17.7029H52.4872V13.8123Z"
                  stroke="#701C3E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M42.8278 8.49465V0.637085H16.8197V8.49465H0.630859V42.3629H58.3687V8.49465H42.8278Z"
                  stroke="#701C3E"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1615">
                  <rect width="59" height="43" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>

          <p>Media</p>
        </a>
      </div>

      <ul class="grid grid-cols-3 grid-flow-dense gap-2">
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+sunny"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 m-0 font-bold">Osaamiskokonaisuus 1</p>
          <p class="p-0 m-0">Web-kehittäjä</p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+sunny"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 m-0 font-bold">Osaamiskokonaisuus 1</p>
          <p class="p-0 m-0">Web-kehittäjä</p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+sunny"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 m-0 font-bold">Osaamiskokonaisuus 1</p>
          <p class="p-0 m-0">Web-kehittäjä</p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+sunny"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 m-0 font-bold">Osaamiskokonaisuus 1</p>
          <p class="p-0 m-0">Web-kehittäjä</p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+sunny"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 font-bold">Osaamiskokonaisuus 1</p>
          <p class="p-0">Web-kehittäjä</p>
        </li>

        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+pinky"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 font-bold">Osaamiskokonaisuus 13</p>
          <p class="p-0 text-center">
            Journalismi ja verkkomedia, sosiaalinen media
          </p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+pinky"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 font-bold">Osaamiskokonaisuus 13</p>
          <p class="p-0 text-center">
            Journalismi ja verkkomedia, sosiaalinen media
          </p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+pinky"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 font-bold">Osaamiskokonaisuus 13</p>
          <p class="p-0 text-center">
            Journalismi ja verkkomedia, sosiaalinen media
          </p>
        </li>
        <li
          class="w-full h-[252px] max-w-[363px] max-h-[252px] flex flex-col items-center justify-center bg-u+pinky"
        >
          <div class="bg-white px-8 py-6 rounded-full">
            <svg
              width="42"
              height="56"
              viewBox="0 0 42 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1266_1613)">
                <path
                  d="M35.898 18.9421C34.8083 18.9421 33.7792 19.2335 32.8954 19.7435L22.4589 7.10342C23.1248 6.3506 23.5365 5.36708 23.5365 4.27428C23.5365 1.90654 21.6235 -0.0119324 19.2626 -0.0119324C16.9017 -0.0119324 14.9888 1.90654 14.9888 4.27428C14.9888 6.64201 16.9017 8.56049 19.2626 8.56049C20.0012 8.56049 20.6913 8.35407 21.2966 8.02623L31.7089 20.6299C30.7282 21.5648 30.0502 22.8276 29.8686 24.2483L17.7613 24.3697C17.4223 21.322 14.8435 18.9542 11.7077 18.9542C8.34189 18.9542 5.61776 21.6862 5.61776 25.0618C5.61776 27.0531 6.57423 28.8259 8.05131 29.943L4.79447 39.3653C4.62496 39.3411 4.45546 39.3168 4.27385 39.3168C1.91294 39.3168 0 41.2352 0 43.603C0 45.9707 1.91294 47.8892 4.27385 47.8892C6.63477 47.8892 8.54771 45.9707 8.54771 43.603C8.54771 41.9395 7.59124 40.5189 6.21101 39.8025L9.35889 30.7079C10.0853 31.0115 10.8844 31.1815 11.7077 31.1815C12.5794 31.1815 13.4148 30.9872 14.1655 30.6594L20.4249 40.5917C18.3182 42.1459 16.9501 44.6472 16.9501 47.4642C16.9501 52.1875 20.7639 56.0124 25.4736 56.0124C30.1833 56.0124 33.9971 52.1875 33.9971 47.4642C33.9971 42.7409 30.1833 38.9161 25.4736 38.9161C24.1176 38.9161 22.8342 39.2439 21.6841 39.8146L15.4367 29.8944C16.6717 28.9352 17.5313 27.5024 17.7371 25.8632L29.8322 25.7418C30.1712 28.8016 32.7501 31.1815 35.8858 31.1815C39.2517 31.1815 41.9758 28.4495 41.9758 25.0739C41.9758 21.6984 39.2517 18.9664 35.8858 18.9664L35.898 18.9421Z"
                  fill="#701B3E"></path>
              </g>
              <defs>
                <clipPath id="clip0_1266_1613">
                  <rect width="42" height="56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <p class="p-0 font-bold">Osaamiskokonaisuus 13</p>
          <p class="p-0 text-center">
            Journalismi ja verkkomedia, sosiaalinen media
          </p>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
