---
import { Image } from "astro:assets";
import { FOOTER } from "../config";
import { getLanguageFromURL } from "../languages";

export type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const langCode = getLanguageFromURL(currentPage);
const footers = FOOTER[langCode];

---

{
  Object.entries(footers).map(([_L, footer]) => (
    <footer class="flex flex-1 flex-col items-center gap-[90px] bg-u+pinky px-5 py-10 md:flex-row md:px-[5.625rem]">
      <Image src={footer.logo} alt="uraohjain" width={169} height={182} />
      <div class="flex max-w-[65vw] flex-1 flex-col">
        <p class="pb-4 text-[1.75rem] font-black leading-9 text-u+burg md:text-[2.5rem]">
          {footer.title}
        </p>
        <span class="text-sm font-light ">{footer.description}</span>
      </div>
      <Image
        src={footer.eu}
        alt="europaan union tuki"
        width={120}
        height={119}
      />
    </footer>
  ))
}
