<!-- Mobile menu -->
<div
  class="mobile-menu w-full md:w-auto opacity-0 transform scale-0 transition-opacity duration-300"
>
  <a
    href="/"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Etusivu</a
  >
  <a
    href="/news"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Ajankohtaista</a
  >
  <a
    href="/signup"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Ilmoittautuminen</a
  >
  <a
    href="/study-offers"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Opintotarjonta</a
  >
  <a
    href="/companies"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Yrityksille</a
  >
  <a
    href="/uraohjain"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Hanke</a
  >
  <a
    href="#contact"
    class="block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300"
    >Yhteystiedot</a
  >
</div>
