<!-- Mobile menu -->
<div
  class="mobile-menu w-full scale-0 transform opacity-0 transition-opacity duration-300 md:w-auto"
>
  <a
    href="/"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Etusivu</a
  >
  <a
    href="/news"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Ajankohtaista</a
  >
  <a
    href="/signup"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Ilmoittautuminen</a
  >
  <a
    href="/study-offers"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Opintotarjonta</a
  >
  <a
    href="/companies"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Yrityksille</a
  >
  <a
    href="/uraohjain"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Hanke</a
  >
  <a
    href="#contact"
    class="block px-2 py-4 text-2xl transition duration-300 hover:bg-rose-200 hover:text-black"
    >Yhteystiedot</a
  >
</div>
