---
import { formatDate } from "../utils/text-formatting";
import { Picture, Image } from "astro:assets";
const { title, description, date, image } = Astro.props;
---

<header>
  <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
    Ajankohtaista
  </h1>
  <Image
    class="float-right md:pl-10"
    src={image.src}
    alt={image.alt}
    width={400}
    height={225}
  />
  <h2>{title}</h2>
</header>
