---
import { Image } from "astro:assets";
---

<!-- Partners' logos component  -->
<ul class="flex flex-wrap gap-4 justify-center sm:justify-start">
  <!-- Stadin logo -->
  <li
    class="flex h-16 w-16 items-center justify-center rounded-full bg-white px-2 py-4 md:h-28 md:w-28"
  >
    <Image
      src="/img/frontpage/stadinao.svg"
      alt="StadinAO logo"
      class="h-auto w-[75px]"
      loading="eager"
      width={200}
      height={200}
    />
  </li>
  <!-- Metropolia logo -->
  <li
    class="flex h-16 w-16 items-center justify-center rounded-full bg-white px-2 py-4 md:h-28 md:w-28"
  >
    <Image
      src="/img/frontpage/metropolia-new.png"
      alt="Metropolia logo"
      class="h-auto w-[75px]"
      loading="eager"
      width={200}
      height={200}
    />
  </li>
  <!-- Laurea logo -->
  <li
    class="flex h-16 w-16 items-center justify-center rounded-full bg-white px-4 py-6 md:h-28 md:w-28 md:rounded-full"
  >
    <Image
      src="/img/frontpage/laurea-new.png"
      alt="Laurea logo"
      class="h-auto w-[56px]"
      loading="eager"
      width={200}
      height={200}
    />
  </li>
  <!-- EU logo -->
  <li
    class="flex h-16 w-16 items-center justify-center rounded-full bg-white px-4 py-6 md:h-28 md:w-28 md:rounded-full"
  >
    <Image
      src="/img/frontpage/eu-new.png"
      alt="EU logo"
      class="h-auto w-[75px]"
      loading="eager"
      width={150}
      height={150}
    />
  </li>
</ul>
