<!-- Partners' logos component  -->
<ul class="flex flex-row md:ml-2">
  <!-- Stadin logo -->
  <li class="px-2 py-4">
    <figure
      class="relative w-16 h-16 p-2 md:w-28 md:h-28 bg-white rounded-full flex justify-center items-center text-center"
    >
      <img src="/img/frontpage/stadin.png" alt="StadinAO logo" />
    </figure>
  </li>
  <!-- Metropolia logo -->
  <li class="px-2 py-4">
    <figure
      class="relative w-16 h-16 p-2 md:w-28 md:h-28 bg-white rounded-full flex justify-center items-center text-center"
    >
      <img src="/img/frontpage/metropolia.png" alt="Metropolia logo" />
    </figure>
  </li>
  <!-- Laurea logo -->
  <li class="px-2 py-4">
    <figure
      class="relative w-16 h-16 md:w-28 md:h-28 bg-white rounded md:rounded-full flex justify-center items-center text-center"
    >
      <img src="/img/frontpage/laurea.png" alt="Laurea logo" />
    </figure>
  </li>
  <!-- EU logo -->
  <li class="px-2 py-4">
    <figure
      class="relative w-16 h-16 md:w-28 md:h-28 bg-white rounded md:rounded-full flex justify-center items-center text-center"
    >
      <img src="/img/frontpage/eu.png" alt="EU logo" />
    </figure>
  </li>
</ul>
