---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import NewsCard from "../../../components/NewsCard.astro";

const allNews = await Astro.glob("../../fi/news/*.md");
const pageTitle = "Ajankohtaista";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="px-[5.625rem]">
    <h1 class="text-center pt-10 pb-16 text-[2rem] text-u+burg font-bold">
      Ajankohtaista
    </h1>
    <section aria-label="New Blog News" class="pb-10">
      <ul class="md:grid md:grid-cols-4 md:gap-4">
        {
          allNews.map((news) => (
            <NewsCard
              frontmatter={news.frontmatter}
              url={news.url}
              tagType="h2"
            />
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
