---
import BaseLayout from "./Base.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
const { title, image } = frontmatter;
---

<BaseLayout pageTitle={title}>
  <main class="px-[5.625rem] pb-16">
    <header>
      <h1 class="pb-16 pt-10 text-center text-[2rem] font-bold text-u+burg">
        {title}
      </h1>
      <Image
        class="float-right md:pl-10"
        src={image.src}
        alt={image.alt}
        width={400}
        height={225}
      />
    </header>
    <article class="flex flex-col">
      <main class="text-xl">
        <slot />
      </main>
    </article>
  </main>
</BaseLayout>
